<div>
    <h3 class="text-center">Administrative</h3>
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_add">
                <span class="glyphicon glyphicon-plus"></span>ADD</a>
            </li>
            <li><a href="#tab_edit">
                <span class="glyphicon glyphicon-pencil"></span>EDIT</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_add">
                <h4>Add Tab</h4>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                    ac turpis egestas.</p>
            </div>
            <div class="tab-pane" id="tab_edit">
                <h4>Edit Tab</h4>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                    ac turpis egestas.</p>
            </div>
        </div>
    </div>
</div>